IRCClient: Kernel::NetworkAdapter::send_ipv4 fragmentation freezes system

TCP packet fragmentation is not yet implemented (marked `FIXME`) - #1134

```c
void NetworkAdapter::send_ipv4(const MACAddress& destination_mac, const IPv4Address& destination_ipv4, IPv4Protocol protocol, const u8* payload, size_t payload_size, u8 ttl)
{
    size_t ipv4_packet_size = sizeof(IPv4Packet) + payload_size;
    if (ipv4_packet_size > mtu()) {
        // FIXME: Implement IP fragmentation.
        ASSERT_NOT_REACHED();
    }
    # ...
```

An IRC server (or active man-in-the-middle during connection to the server, due to the current lack of TLS support in the IRC client), can send a long `PING` message, causing the IRC client to respond with a large packet with a size exceeding `m_mtu` (`1500` bytes), triggering `ASSERT_NOT_REACHED` and resulting in system freeze.

```
$ cat asdf
SERVER name 1 :description
PING :1234
PING :AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
$ nc -lvp 1337 < asdf
Listening on [0.0.0.0] (family 0, port 1337)
Connection from localhost 44848 received!
USER anon_seren1ty 0 * :anon_seren1ty
NICK anon_seren1ty
JOIN #serenityos
PONG 1234
```

```
Entering WindowServer main loop.
[Terminal(19:19)]: do_exec(/bin/Shell)
Terminal: Load config file from /home/anon/Terminal.ini
[Shell(20:20)]: do_exec(/bin/IRCClient)
[NetworkTask(5:5)]: ARP table (1 entries):
[NetworkTask(5:5)]: 52:55:0a:00:02:02 :: 10.0.2.2
IRCClient: Channels to autojoin: #serenityos
IRCClient: Auto joining channel: #serenityos
[IRCClient(20:20)]: ASSERTION FAILED: false
Net/NetworkAdapter.cpp:107 in void Kernel::NetworkAdapter::send_ipv4(const MACAddress&, const AK::IPv4Address&, Kernel::IPv4Protocol, const u8*, size_t, u8)
[IRCClient(20:20)]: 0xc01186bb  __assertion_failed(char const*, char const*, unsigned int, char const*) +180
[IRCClient(20:20)]: 0xc0145c41  Kernel::NetworkAdapter::send_ipv4(MACAddress const&, AK::IPv4Address const&, Kernel::IPv4Protocol, unsigned char const*, unsigned long, unsigned char) +243
[IRCClient(20:20)]: 0xc014af40  Kernel::TCPSocket::send_outgoing_packets() +272
[IRCClient(20:20)]: 0xc014b1b2  Kernel::TCPSocket::send_tcp_packet(unsigned short, void const*, unsigned long) +554
[IRCClient(20:20)]: 0xc014b263  Kernel::TCPSocket::protocol_send(void const*, unsigned long) +23
[IRCClient(20:20)]: 0xc0144166  Kernel::IPv4Socket::sendto(Kernel::FileDescription&, void const*, unsigned long, int, sockaddr const*, unsigned int) +300
[IRCClient(20:20)]: 0xc015d385  Kernel::Process::sys$sendto(Kernel::Syscall::SC_sendto_params const*) +375
[IRCClient(20:20)]: 0xc01659b8  syscall_handler +1142
[IRCClient(20:20)]: 0xc016547d  syscall_asm_entry +29
[IRCClient(20:20)]: 0x080ee91b  send +24
[IRCClient(20:20)]: 0x080cd6ad  Core::Socket::send(AK::ByteBuffer const&) +37
[IRCClient(20:20)]: 0x080492ee  IRCClient::send(AK::String const&) +106
[IRCClient(20:20)]: 0x080493cf  IRCClient::send_pong(AK::String const&) +47
[IRCClient(20:20)]: 0x08049933  IRCClient::handle_ping(IRCClient::Message const&) +147
[IRCClient(20:20)]: 0x0804b4d9  IRCClient::handle(IRCClient::Message const&) +335
[IRCClient(20:20)]: 0x0804b890  IRCClient::process_line(AK::ByteBuffer&&) +654
[IRCClient(20:20)]: 0x0804b991  IRCClient::receive_from_server() +143
[IRCClient(20:20)]: 0x080ccad8  Core::Object::dispatch_event(Core::Event&, Core::Object*) +86
[IRCClient(20:20)]: 0x080c7bfc  Core::EventLoop::pump(Core::EventLoop::WaitMode) +462
[IRCClient(20:20)]: 0x080c7db3  Core::EventLoop::exec() +71
[IRCClient(20:20)]: 0x0807fb01  GUI::Application::exec() +29
[IRCClient(20:20)]: 0x0804848f  main +195
[IRCClient(20:20)]: 0x08048cc3  _start +94
```

While this fragmentation issue lies outside the IRC client, perhaps the client should perform a length check on the `PING` message and truncate the subsequent response.

The IRC specification RFC1459 [section 2.3](https://tools.ietf.org/html/rfc1459#section-2.3) suggests clients and server messages *shall not exceed 512 characters in length* :

> IRC messages are always lines of characters terminated with a CR-LF
> (Carriage Return - Line Feed) pair, and these messages shall not
> exceed 512 characters in length, counting all characters including
> the trailing CR-LF. Thus, there are 510 characters maximum allowed
> for the command and its parameters.  There is no provision for
> continuation message lines.  See section 7 for more details about
> current implementations.

The `512` limit does not appear to have changed in subsequent updates to the specification.


IP fragmentation has been implemented. This no longer causes a crash.

It may still be a good idea to review the maximum message length.

> IP fragmentation has been implemented. This no longer causes a crash.

TCP packet fragmentation has been implemented and the example above no longer causes a crash or freeze.

> It may still be a good idea to review the maximum message length.

I don't care about this (for now). Closing this issue.
